*{
    font-family: 'Poppins','sans-serif';
    margin: 0;
    padding: 0;
}
/* Navbar CSS */
.header{
    margin-top:90px
}
.navbar-nav>li{
    margin-left: 20px;
}
.try{
    margin-left: 20px;
    border-radius: 30px;
    background-color: #2500f9;
    padding-right: 30px;
    padding-left: 30px;
}


/* Top Section */
.top-section{
    height: auto;
    background-image: url("../img/Phone.png");
    background-position: right;
    background-repeat: repeat-x;
}
.top-left-content{
    margin-top:200px ;
    padding: 30px;
}
.top-left-content h1{
    font-size: 60px;
    color: #242f51;
}
.top-left-content p{
    font-size: 18px;
    color: #616368;
    padding-right: 100px;
}
.top-left-content .btn{
    border-radius: 30px;
    background-color: #2500f9;
    padding-right:30px;
    padding-left: 30px;
    padding-top:15px;
    padding-bottom:15px;

}
.col-md-5 img{
    margin-top: 30px;
}

/* Top section end */



/* Companies Wrapper */
.companies-wrapper{
    margin-top:120px;
}
.companies-wrapper .trust{
    font-size: 16px;
    color: #242f51;
}

/* Companies Wrapper end */

/* 3rd Section Start */
.third{
    height: auto;
    background-color: white;
    margin-top: 100px;
}
.col-md-6>h1{
    color: #242f51;
    font-weight: 600;
    margin-left: 50px;
}
.col-md-6>p{
    color: #616368;
    margin-left: 50px;
}
.infos{
    margin-top: 100px;
    margin-left: 50px;
}
.info{
    margin-top: 50px;
}
.info .text{
    margin-left: 80px;
}
.info img{
    width: 70px;
    position: absolute;
}




.heading{
    color: #242f51;
    font-weight: 700;
    font-size: 35px;
}

.sub-sec{
    margin-top: 60px;
}
.sub-sec p{
    color: #616368;
    font-size: 16px;
}

#text-head1{
    color:#f55767;
    font-size: 20px;
    font-weight: 700;

}
#text-head2{
    color:#2563ff;
    font-size: 20px;
    font-weight: 700;

}
#text-head3{
    color:#40975f;
    font-size: 20px;
    font-weight: 700;

}




/* 3rd section end */